/** @format */

.swipeButtons {
	position: fixed;
	bottom: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
}

.swipeButtons .MuiIconButton__root {
	background: white;
	box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
	padding: 1vw !important;
}

.swipeButtons__repeat {
	color: #f5b748 !important;
}

.swipeButtons__left {
	color: #ec5e6f !important;
}

.swipeButtons__right {
	color: #915dd1 !important;
}

.swipeButtons__star {
	color: #62b4f9 !important;
}
.swipeButtons__lightning {
	color: #76e2b3 !important;
}
