/** @format */

.app {
	padding: 0 15px;
	
}

@keyframes popup {
	0% {
		transform: scale(1, 1);
	}
	10% {
		transform: scale(1.1, 1.1);
	}
	30% {
		transform: scale(0.9, 0.9);
	}
	50% {
		transform: scale(1, 1);
	}
	57% {
		transform: scale(1, 1);
	}
	64% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}
